

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #bdbebd;
    font-size: 18px;
}

section{
    scroll-margin-top: 90px;
}

header {
    background-color: #D62828;
    padding: 1% 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}



.banner {
    background: url(../img/result_banner.webp) no-repeat center/cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Georgia', serif;
    color: #B22222;
    text-align: center;
    text-shadow:4px 4px 0px #000,
                0px 0px 15px #000; 
    
}

#biografia {
    padding: 35px;
    background-color: 	#A9A9A9;
}

.Biografia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.biografia-texto {
    flex: 1;
    padding: 20px;
}

.biografia-texto h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.biografia-texto p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.biografia-texto a {
    text-decoration: none;
    color: #1DB954;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.fonte{
   font-size: 1.2rem;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex {
    width: 140px;
    height: 120px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    overflow: hidden;
    background-color: #FAEBD7; /* antiquewhite */
    position: relative;
}

.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 400;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem;
    color:  #FFFFFF;
}

h3 {
    font-size: 1.8rem;
    margin: 1rem;
    color: #8B0000;
}

p,
li {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #FFFFFF;
}

a {
    color: #1DB954;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer {
    background-color: #111111; /* black */
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.imgcard{
    width: 70%;
}

.discografia-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
}

#discografia .item{
    background-color: #A9A9A9;
    border: 1px solid #B0C4DE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#discografia .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #B0C4DE;
}

#discografia .item:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px #B0C4DE;
}

#discografia .item p{
    margin-top: 15px;
    font-size: 0.95em;
    color: #7B68EE;
}

#discografia .item img{
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    header .container,
    .Biografia-container {
        flex-direction: column;
        text-align: center;
        .section{
            scroll-margin-top: 180px;
        }
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .banner {
        margin-top: 120px;
    }

    .titulo {
        font-size: 2rem;
        padding-top: 80px;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p,
    li {
        font-size: 1.1rem;
    }

    .logo {
        font-size: 2rem;
    }

    nav ul li {
        margin: 5px 0;
    }
}



@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p,
    li {
        font-size: 1rem;
    }

    .banner {
        margin-top: 150px;
    }
}

@media (min-width: 2168px) {
    .banner {
        margin-top: 7em;
    }
}
@media (min-width: 1527.5px) and (max-width: 2168px) {
    .banner {
        margin-top: 2.5em;
    }
}
@media (min-width: 952px) and (max-width: 1527.5px) {
    .banner {
        margin-top: 2.5em;
        height: 30vh;
    }
    .banner::after {
        height: 30%;
    }
}
@media (min-width: 843px) and (max-width: 952px) {
    .banner {
        margin-top: 2.4em;
        height: 20vh;
    }
    .banner::after {
        height: 20%;
    }
}
@media (min-width: 713px) and (max-width: 843px) {
    .banner {
        margin-top: 2.5em;
        height: 20vh;
    }
    .banner::after {
        height: 20%;
    }
}
@media (min-width: 0px) and (max-width: 713px) {
    .banner {
        margin-top: 9em;
        height: 15vh;
    }
    .banner::after {
        height: 15%;
    }
}