* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #DDEBF0;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  color: #333333;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

h3 {
    font-size: 1.8rem;
    margin: 1rem;
    color: #8B0000;
}

p, li {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #555555;
}

a {
    color: #1DB954;
    text-decoration: none;
    transition: color 0.3s ease;
}

section {
    scroll-margin-top: 90px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header {
    background-color: #555555;
    padding: 1% 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 60px;
    width: auto;
}

  
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.banner, .bannercontato {
    background: url(../img/kendrick-lamar-black-and-white-portrait-ryxn7wiss44ama1m.jpg) no-repeat center/cover;
    height: 80vh;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Georgia', serif;
    color: #B22222;
    text-shadow: 4px 4px 0px #000, 0px 0px 15px #000;
    padding-top: 150px; 
}

.banner {
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.bannercontato {
    align-items: left;
    text-align: left;
    font-size: 3em;
}

#biografia {
    padding: 35px;
    background-color: #DDEBF0;
}

.Biografia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

.biografia-texto {
    flex: 1;
    padding: 20px;
}

.biografia-texto h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.biografia-texto p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.biografia-texto a {
    text-decoration: none;
    color:#1DB954;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.fonte {
    font-size: 1.2rem;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex {
    width: 140px;
    height: 120px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    overflow: hidden;
    background-color: #FAEBD7;
    position: relative;
}

.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    font-weight: 400;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.discografia-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    text-align: center;
    padding: 50px 20px;
}

#discografia .item {
    background-color: #F7F7F7;
    border: 1px solid #B0C4DE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#discografia .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#discografia .item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#discografia .item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#discografia .item p {
    margin-top: 15px;
    font-size: 0.95em;
    color: #000;
}

.btn {
    margin-top: auto;
    padding: 10px 20px;
    background: #FF6B6B;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    transition: background-color 0.3s ease;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal:target {
    display: flex;
}

.modal-content {
    max-height: 550px;
    overflow-y: auto;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #D62828;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.tabela {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.tabela h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #1e1e1e;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #8B0000;
}

.tabela th, .tabela td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tabela th {
    background-color: #8B0000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tabela tr{
    background-color: #DDEBF0;
}

#galeria {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

#galeria h1 {
    margin-bottom: 30px;
    color: #333333;
    font-size: 2.5rem;
}

.foto-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 100%;
}

.imgaleria {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 4px solid #111111;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: scale(1.05);
}

#evolucao{
    text-align: justify;
}

#contato{
    text-align: center;
}

.formulario-contato {
    background-color:#fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #8B0000;
}
  
.grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-size: 1.2em;
    text-align: left;
}
  
.grupo-form input,
.grupo-form select,
.grupo-form textarea {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 8px;
}
  
.grupo-form input[type="checkbox"],
.grupo-form input[type="radio"] {
    margin-right: 10px;
    margin-top: 0;
}
  
.grupo-form label {
    margin-bottom: 4px;
    font-weight: bold;
}

body.paginamensagem {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
body.paginamensagem main {
    flex: 1;
}
  
.mensagem {
    margin-top: 60px;
    background-color: rgba(218, 8, 8, 0.836);
    padding: 20px 30px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    display: block;
    width: 90%;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #1e1e1e;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 780px) {
    header .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0;
    }
    
    .logo-img {
        height: 45px;
    }
    .banner, .bannercontato {
        padding: 1rem;
        height: 60vh;
        padding-top: 170px;
        font-size: 1.2em;
    }
}
@media (max-width: 610px) {
    .biografia-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }

    .foto-galeria {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .discografia-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .formulario-contato {
        padding: 20px;
    }

    .tabela {
        width: 95%;
        margin: 20px auto;
    }

    .tabela table, 
    .tabela th, 
    .tabela td {
        font-size: 0.9em;
        padding: 8px 10px;
    }

    .tabela h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 1rem;
    }

    .biografia-texto h2 {
        font-size: 2em;
    }

    .hex {
        width: 100px;
        height: 90px;
    }

    .modal-content {
        padding: 20px;
        max-width: 90%;
    }

    .banner, .bannercontato {
      padding-top: 200px;
    }
}

@media (max-width: 320px) {
    .hex {
        width: 90px;
        height: 80px;
    }
}